<section class="genre bg-white p-4 shadow-sm">
   <header>
        <h1 class="h3 font-weight-bold">{{general.setting.website_name}}</h1>
        <p>{{general.setting.website_description}}</p>
   </header>

    <div class="genre-list">
      <a href="{{'letras-de-canciones'| url }}" class="btn btn-outline-info font-weight-bold btn-sm">Letras</a>
      <a href="{{'top-artistas'| url }}" class="btn btn-outline-info font-weight-bold btn-sm">Top Artistas</a>
      <a href="{{'generos' | url }}" class="btn btn-outline-info font-weight-bold btn-sm">Generos</a>
      <button type="button"  class="btn btn-outline-info font-weight-bold btn-sm btn-buscar"><i class="fas fa-search"></i></button>
    </div>

    
</section>