<li class="list-group-item list-group-item-action px-0">
    <a href="{{ 'letra/' | url }}{{ lyric.slug }}" title="Letra de {{ lyric.title }}" class="d-flex">
        {% if i %}{{i}}.{% endif %} {{ lyric.title }} 
    </a>
</li>